.vs
.git
.vscode
jarvis/.recycle
jarvis/.backup
#
**/*.pyc
**/*.fld
**/*.raw
**/*.txt
**/*.gms
**/*.sgy
**/*.grd
**/*.xyz
**/*.pnm
**/*.dat
**/*.inp
**/*.mat
**/*.o
**/*.a
**/.mpi_config
#
jarvis/bin
jarvis/lib
jarvis/obj
#
jarvis/src/jarvis_fortran/seismic_fdtd_cpml/*
!jarvis/src/jarvis_fortran/seismic_fdtd_cpml/*.f90
.external/cuda/cuda/std/detail/libcxx/include/queue
